
.navbar-inverse {
    border-color: transparent !important;
}
#Home{
    cursor:pointer;
    cursor:hand;
}
#Home:hover{
    color:#d5d6da;
}
 #custom-iconDummy {
    background: rgba(221, 221, 221, 0);
    -webkit-border-radius: 1100%;
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 4.5em;
    height: 4.5em;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
 #custom-icon {
    background: rgba(89, 42, 70, 0.65);
    -webkit-border-radius: 1100%;
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 4.5em;
    height: 4.5em;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
#custom-iconactive {
    background: #592a46;
    -webkit-border-radius: 1100%;
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 4.5em;
    height: 4.5em;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
#icon{
  padding-left: 15%;
  padding-top: 22%;
}
.well2{
    min-height: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.panel-primary {
    border-color: #2d3345;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #2d3345;
    border-color: #222330;
}
.panel-body {   
    background: #2d3345;
}
#JdaMenu{
    position: absolute;
    transform: translate(60%,-15%);
}
#ciscoMenu{
    position: absolute;
    transform: translate(2225%,-15%);
}
#genpactMenu{
    position: absolute;
    transform: translate(1250%,-15%);
}
#wrapper {
  padding-left: 110px;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
  margin-left: -250px;
  top: 51px;
  left: 250px;
  width: 110px;
  background: #f6f6f6;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;

/*  overflow: hidden;*/
/*overflow-y: scroll;*/
}
#sidebar-wrapper::-webkit-scrollbar { width: 12px; height: 12px; }
#sidebar-wrapper::-webkit-scrollbar-track { background: #f2f2f2; }
#sidebar-wrapper::-webkit-scrollbar-thumb { background: #ddd; }
#sidebar-wrapper:hover::-webkit-scrollbar-thumb { background: #bbb; }
#sidebar-wrapper::-webkit-scrollbar-thumb:horizontal:hover,
#sidebar-wrapper::-webkit-scrollbar-thumb:vertical:hover { background: #999; }
#sidebar-wrapper::-webkit-scrollbar-thumb:horizontal:active,
#sidebar-wrapper::-webkit-scrollbar-thumb:vertical:active { background: #777; }

#wrapper.active {
  padding-left: 0;
}
#wrapper.active #sidebar-wrapper {
  left: 0;
}
#page-content-wrapper {
  width: 100%;
  /*padding-top: 70px;*/
  background-color: #222330;
  transition: all 0.4s ease 0s;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 110px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
}

@media (max-width:767px) {
#wrapper {
  padding-left: 50px;
}
#sidebar-wrapper {
  left: 0;
}
#wrapper.active {
  position: relative;
  left: 250px;
}
#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}
#menu-toggle {
  display: inline-block;
}
}
.wellcustom {
    min-height: 20px;
    padding: 3%;
    margin-bottom: 20px;
    /*background-color: #999;*/
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
}
ul.MenuBarHorizontal li {
    margin: 3px;
    padding: 0;   
    list-style-type: none;      
    position: relative;
    text-align: left;
    cursor: pointer;       
    float: left;
    width: 22%;
    line-height: 25px;
    }

  ul.breadcrumb {
    padding: 1.5% 1.5%;
    padding-bottom: 0px;
    list-style: none;
    background-color: #2d3345;   
  }
  ul.breadcrumb li {
    display: inline;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;  
    color:#707384; 
    content: "/";
  }
  ul.breadcrumb li a {color: #707384;}
  ul > li > a, ul > li > a:hover {
      color: #707384;
      font-family: Roboto-Regular;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-decoration: none !important;
  }  
  }
  .nonactive >a{
    color: #707384;
  }
  .active >a,.active > a:hover{
    color: #d5d6da;      
    border-radius:0px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #d3398a; 
  }
  
