
<style>
#highcharts-nxb6fyr-0{
  width: 1100px !important;
}
</style>
<div class=""  style="padding-top: 11px;padding-left: 0px;padding-right: 0px;padding-top: 2%;">
                  <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="panel panel-primary">
                       
                            <div class="panel-heading" id="text">
                                 <div class="row">
                              <div class="col-md-8 col-xs-12 col-sm-12 ">
                                  <span class="pull-left"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;  Cam Health & Active Live Monitoring </span>
                                </div>
                             </div>
                            </div>
                            <div class="panel-body">
                             <!--    <div class="well" style="width:1250px">     -->                          
                             <div id="container" style="height: 270px;"> 

                             <!-- </div> -->
                            </div>
                        </div>
                    </div>
        
                </div>
  
      
    </div>
  </div>

        