<px-card style="padding-top:10px;padding-bottom:0px;padding-left: 15px;background: linear-gradient(#242326,#3b3b3f);
        border-bottom: 1px solid #bbbbbb;box-shadow: 1px 1px 1px #cec2c2;color: white;">
    <h4 style="margin-top:0px;margin-bottom:0px">Real time Graph -  TimeSeries Data</h4>
    <p style="margin-top:0px;margin-bottom:10px">Sub-heading</p>
</px-card>



  


<px-card style="background-color:#ffffff;border: 1px solid #b1b1bc;padding-bottom:10px;">
    <!-- <h1>Demo of Real Time Data Rendering</h1> -->

    <h2 style="margin-bottom:0px;margin-top:10px" id="parameterSelected"></h2>

    <!-- <p style="margin-bottom:5px">Select a machine and parameter to be plotted</p> -->
    <div class="layout">
      <div class="layout__item u-2/3">
        <div class="layout">
         <div class="layout__item u-1/3">

           <b>Machine No</b>
                                   
                                <px-dropdown  display-value="Machine 1"  style="width:130px;" class="a">
                                   <px-dropdown-content id="machineValue" class="px-dropdown-content" max-cont-character-width="10"
                                   extend-dropdown="true" extend-dropdown-by="15"  items='{{machineData}}'>
                                   </px-dropdown-content>
                                </px-dropdown>
          </div>
          <div class="layout__item u-1/3"><b>Sensor</b>
                                   
                                <px-dropdown  display-value="Parameter_1"  style="width:130px;" class="a">
                                   <px-dropdown-content id="sensorValue" class="px-dropdown-content" max-cont-character-width="10"
                                   extend-dropdown="true" extend-dropdown-by="15"  items='{{sensorData}}'>
                                   </px-dropdown-content>
                                </px-dropdown>
          </div>
          <div class="layout__item u-1/3">
          </br>
            <button class="btn cbtn" style="width:150px;" ng-click="buttonClicked()">Start</button> 
          </div>
         </div>
      </div>
      <div class="layout__item u-1/3">
       
                               
      </div>
     
   </div>

</px-card>

 <px-card style="border:1px solid #b1b1bc;padding-bottom:1%;padding-left:0%">
        <div>
        <!-- <h4 style="padding-left:15px">Status: {{statusToDisplay}}</h4> -->
        </div> 
       <div id="container"></div>
     </px-card>
