<link rel="stylesheet" type="text/css" href="../css/BusiestDay.css">
<script type="text/javascript">
    $(document).ready(function() {
    $('.ui.dropdown').dropdown();
    });
</script>
<style type="text/css">
    .panel-body{
        height:400px;
    }
</style>

<div class="container-fluid" id="Maindiv" style="padding-top: 2%">
                  <div class="row" style="margin-left: -2px !important">
                    <div class="col-md-6 col-xs-12 col-sm-12" style="height:400px">
                        <div class="panel panel-primary" style="background-color:#2d3345;">
                            <div class="panel-heading" style="background-color:#2d3345;" >
                                    <div>
                                    <p id="textforChartHeading">
                               Overall Monitoring
                                    </p>
                                    
                                    </div>
                            </div>
                            <div class="panel-body">
                                <div id="dropDown-Header"  style="padding-bottom: 8px;" class="col-sm-12">
                            <div class="col-sm-3 col-xs-2">
                            </div>
                             <div class="col-sm-6 col-xs-10">
                                    <div>
                                        <div class="quartertxt" style="margin-bottom: 3%;color:#65697b">Location</div>
                                    </div>
                                    <div>
                                      <select id="products-select"  class="form-control" ng-model="selLocation" ng-change="onChgLocationData()" style="background-color: #cbced8">
                                        <option value="All">All</option>
                                        <option ng-repeat="part in valuesforFilter" >{{part['ParkingSpaceName']}}</option>                                     
                                      </select>
                                    </div>
                                  </div>
                                    <div class="col-sm-3 col-xs-2">
                            </div>
                                </div>
                                   <loading style="text-align:center;"></loading>
                                   <div id="container11" style="height: 300px;width:550px" ng-hide="loading"> 
                                   </div>
                                   </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <div class="panel panel-primary" style="background-color:#2d3345;">
                            <div class="panel-heading" style="background-color:#2d3345;" >
                                    <div>
                                    <p id="textforChartHeading">
                                  Real Time Parking Availability Monitoring
                                    </p>
                                    
                                    </div>
                            </div>
                            <div class="panel-body">
                                <div id="dropDown-Header"  style="padding-bottom: 28px;" class="col-sm-12">
                            <div class="col-sm-3 col-xs-2">
                            </div>
                             <div class="col-sm-6 col-xs-10">
                                    <div>
                                        <div class="quartertxt" style="margin-bottom: 3%;color:#65697b">Location</div>
                                    </div>
                                    <div>
                                      <select id="products-select"  class="form-control" ng-model="selLocation1" style="background-color: #cbced8">
                                        <option value="All">All</option>
                                        <option ng-repeat="part in valuesforFilter">{{part['ParkingSpaceName']}}</option>                                     
                                      </select>
                                    </div>
                                  </div>
                                    <div class="col-sm-3 col-xs-2">
                            </div>
                                </div>

                                   <loading1 style="text-align:center;"></loading1>
                                   <div id="container13" style="height: 300px;width:550px" ng-hide="loading1"> 
                             </div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>