<style>
.Smart-WIFI-Managemen{
  color:#724a62;
  transform: translate(0%,0%);
  margin-left: 12%;
}
ul.MenuBarHorizontal li {
    margin: 3px;
    padding: 0;   
    list-style-type: none;      
    position: relative;
    text-align: left;
    cursor: pointer;       
    float: left;
    width: 22%;
    line-height: 25px;
    }
</style>

<script src="api/no_of_visitors_hourly_today.js"></script>

<link rel="stylesheet" type="text/css" href="../css/SmartWifiManagement.css">

<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-image:url('/images/hero-img.png');height:60px;padding: 0 10px;"role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div  class="navbar-brand">
                    <div id="">
                <picture>
                    <a id="menu-toggle"><img src="/images/menu-ico.png" ></a>
                </picture>
            </div>
              <div id="JdaMenu">
                <picture>
                    <a ><img src="/images/SmartCityinside.png" ></a>
                </picture>
            </div>
              <div id="ciscoMenu">
                <picture>
                    <a ><img src="images/Cisco-Logo_phone_Ipad.png" ></a>
                </picture>
              </div>
                     <div id="genpactMenu">
                <picture>
                    <a ><img src="images/Genpact-Logo_phone_Ipad.png" ></a>
                </picture>
            </div>
            </div>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">      
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!-- Sidebar -->
    <div id="sidebar-wrapper" >
        <nav id="spy">
          <ul class="sidebar-nav nav">
                <li id="icon">
                  <div id="custom-iconactive">
                     <img src="images/Wifi-ico.png"><!-- <a href=""></a> -->        
                  </div>
                </li id="icon">
                  <div class="Smart-WIFI-Managemen">Smart WIFI Management</div>
                <li id="icon">
                       <div id="custom-iconactive">
                          <a ui-sref="Surveillance.VSMAccessUsageStatistics"><img src="images/camera-ico.png"></a>
                       </div>
                </li>
                <div class="Smart-WIFI-Managemen"><a class="hyperlinkUsecase" ui-sref="Surveillance.VSMAccessUsageStatistics">Smart Surveillance</a></div>
                   <li id="icon">
                       <div id="custom-icon">
                     <img src="images/tourist-ico.png"><!-- <a href="#"></a> -->                  
                </div>
                </li>
                <div class="Smart-WIFI-Managemen">Tourist Experience </div>
                   <li id="icon">
                       <div id="custom-icon">
                     <img src="images/traffic-ico.png"><!-- <a href="#"></a> -->                  
                </div>
                </li>
                <div class="Smart-WIFI-Managemen">Smart Traffic Operations</div>
                   <li id="icon" >
                       <div id="custom-icon">
                    <img src="images/parking-ico.png">                
                </div>
                </li>
                <div class="Smart-WIFI-Managemen">Parking Management</div>
                   <li id="icon" >
                       <div id="custom-icon">
                     <img src="images/water-ico.png">                  
                </div>
                </li>
                    <div class="Smart-WIFI-Managemen">Water Management</div>
                <li id="icon">
                       <div id="custom-icon">
                     <img src="images/pollution-ico.png">                  
                </div>
                </li>
                <div class="Smart-WIFI-Managemen">Pollution Management</div>
                <li id="icon">
                       <div id="custom-icon">
                     <img src="images/waste-ico.png">
                </div>
                </li>
                <div class="Smart-WIFI-Managemen">Waste Management</div>  
                  <li id="icon">
                       <div id="custom-iconDummy ">
                </div>
                </li>   
                    <div class="Smart-WIFI-Managemen"></div>                 
            </ul>
        </nav>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
       
        <div class="page-content" style="margin-top:4%">

            <!--BreadCrumb-->
            <div style="background-color:#2d3345">
                <ul class="breadcrumb">
                <li><a id="Home" onclick="location.assign(location.href.substr(0,location.href.indexOf('#')));">Home</a></li>
                <li><a href="#" style="color: #d5d6da;">Smart Wi-Fi Management</a></li>  
                </ul>

                <!--SubNav Menu-->
                <ul class="Submenu" style="list-style-type: none;padding-left: 1.5%;padding-bottom: 1.2%">
                <li id="liBusiestDay" style="float:left;width:25%;"><a ui-sref=".BusiestDay" style="font-size:13px !important;padding-bottom: 4%;">Busiest Day Forecasting</a></li>
                <li id ="liNewVisitorPattern" style="float:left;width:25%"><a ui-sref=".NewVisitorPattern" style="font-size:13px !important;padding-bottom: 4%;">New Visitor Pattern Detection</a></li>
                <li id="liPlaces" style="float:left;width:30%"><a ui-sref=".PlacesofAttraction" style="font-size:13px !important;padding-bottom: 3.2%;">Places of Attraction and Unauthorized Access</a></li>
                <li id="liCustomerVisit"><a ui-sref=".CustomerVisitPattern" style="font-size:13px !important;padding-bottom: 1%;">Customer Visit Pattern Analytics</a></li>
                </ul>
            </div>

            <div ui-view>
            </div>
        </div>
    </div>
    </div>