<link rel="stylesheet" type="text/css" href="../css/CustomerVisitPattern.css">
<script type="text/javascript">
    $(document).ready(function() {
    $('.ui.dropdown').dropdown();
    });
</script>

<div class="container-fluid" id="Maindiv">         
                <div class="row" style="margin-top: 1%;margin-left: -2px !important">                       
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="well2">
                                    <div class="row" style="margin-left: -10px !important">
                                        <div class="col-md-2 col-sm-6 col-xs-12">
                                            <span id="textfordropdown">
                                            Location Type
                                             </span>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                            <span id="textfordropdown" >
                                            Location Name
                                             </span>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12">
                                            <span id="textfordropdown">
                                            Date
                                             </span>
                                    </div>
                            </div>
                             <div class="row" style="margin-top: 5px">
                                  <div class="col-md-2 col-sm-6 col-xs-12">
                                             <select disabled id="Aread" class="ui search selection dropdown widthofselect" style="height:35px; padding-top:0px;padding-bottom:0px;background-color: #cbced8">
                                                    <option selected style=>Building</option>
                                                  </select>
                                 </div>    
                                 <div class="col-md-2 col-sm-6 col-xs-12">
                                 <select id="Locationd" class="ui search selection dropdown widthofselect" style="height:35px;padding-top:0px;padding-bottom:0px;background-color: #cbced8">
                                            <option selected value="0">All</option>
                                            <option value="16">CiscoCampus</option>
                                            <option value="44">CiscoLiveLatAm</option>
                                          </select>
                                          </div>   
                                  <div class="col-md-2 col-sm-6 col-xs-12">
                                        <select id="Dayd" class="ui search selection dropdown widthofselect" style="height:35px;padding-top:0px;padding-bottom:0px;background-color: #cbced8">
                                              <option selected value="today">Today</option>
                                              <option value="yesterday">Yesterday</option>
                                              <option value="this week">Week To Date</option>
                                            
                                            </select>
                                 </div>
                                 <div class="col-md-4 col-sm-6 col-xs-12">
                                 </div>
                                 <div class="col-md-2 col-sm-6 col-xs-12">
                                        <span id="styleofdate">
                                        {{Date1}} 
                                        </span><img src="../images/calendar-ico.png">
                                 </div>                              
                            </div>
                            </div>
                       </div>                         
                  </div>
 
                  <div class="row" style="margin-left: -2px !important">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="panel panel-primary" style="background-color:#2d3345;">
                            
                            <div class="panel-heading" id="text" style="height: 70px;">
                                 <div class="row">
                              <div class="col-md-8 col-xs-12 col-sm-7 " id="textforChartHeading">
                                  <span >Customer Visit Pattern Analytics </span>  </div>
                                  <div class="col-md-4 col-xs-12 col-sm-5 thirddiv">
                                            
                                          </div>
                              
                             </div>
                            </div>
                            
                             <div class="panel-body">   

                              <div class="row" style="position:relative">
                                <loading style="text-align:center;height: 560px;"></loading> 
                                <div style="height: 560px;">
                                  <div id="container10" ng-hide="loading"></div>
                                  </div>
                                  <div id="textcontainer" class="fourthdiv" ng-hide="loading"></div>
                                  <div id="svgcontainer" ng-hide="loading"></div>
                             
                                             </div>
                            </div>  
                            
                            
                        </div>
                    </div>                              
            </div>