#sponsorDetails{
  height:95vh;
  width:100%;
  background-color: #f5fbfb;
}
#sponsorDetailsHead{
  padding-top:1%;
  font-family: AvenirBoldCn;
  font-size: 2.70rem;
  color:#004060;
  text-align: center;
}
#sponsorDetailsSubHead{
  color:#004059;
  font-family:AvenirRegular;
  font-size: 1.75rem;
  text-align: center;
}
#sponsorDetailForm{
  padding-top: 2%;
  text-align: right;
}
.form-control{
  display:inline-block !important;
  width:55% !important;
  //background-color: #f5fbfb !important;
  border:1px solid #004059 !important;
}
.control-label{
  font-family: AvenirRegular !important;
  font-size: 1.5rem !important;
  padding-right:2% !important;
  color:#004062 !important;
}
.formAlignment{
  margin-left:-5%;
}
#confirmLink{
  width:140px !important;
}
.form-control1{
  width:100% !important;
	
}
.customLabel{
  width:7% !important;
  padding-left:0;
  padding-right:0;
}
.customDiv{
  width:38% !important;
}
.fa-asterisk{
  font-size: 8px;
  vertical-align: super;
  padding-right: 1%;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

input{
	 border-radius: 0px;
		
}
.confirmBtn{
	background-color : yellow !important;
}
.whiteBackground{
	background-color : white !important;
}
.formLabel{
	color : black !important;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@media only screen and (max-width: 414px) {
 #sponsorDetails{
  height:125vh;
  width:100%;
  background-color: #f5fbfb;
}
.leftAlign{
//margin-left : 1%;	
  text-align : left;
}

.paddingBottom{
 padding-bottom : 5px;	
}

}
@media only screen and (max-height: 667px) and (max-width : 375px) {
 #sponsorDetails{
  height:155vh;
  width:100%;
  background-color: #f5fbfb;
}
}
@media only screen and (max-height: 568px) and (max-width : 320px) {
 #sponsorDetails{
  height:185vh;
  width:100%;
  background-color: #f5fbfb;
}
}
@media only screen and (max-width : 414px) {
	.textOverflow {
		text-overflow: ellipsis;
	}
}