<div class="row col-md-12">
<topHeader></topHeader>
</div>
<div class="row col-md-12">
  <div id="aboutForum" class="whiteBackground">
    <div id="aboutForumHead">2018 FORUM CO-HOSTS</div>
    <div id="aboutForumSubHead">
      Steve Rowley, Executive Vice President, Cox Business
      <br>
      Colleen Langner, Senior Vice President, Marketing Operations
    </div>
    <div id="aboutForumText">
      The Cox Executive Forum is held every two years for Cox's senior leaders to align on strategy,set priorities, and celebrate success. We would be honoured to have you join ua as a sponsor of the 2018 Executive Form. This exclusive sponsorship gives you a unique networking experience with an intimate group of Cox's senior executives while being inspired and motivated by A-list keynote speakers in the mejestic location - The Monarch Beach Resort, Dana Point, California.
      <br>
      As a part of the Executive Forum, we will be holding a Silent and Live auction dinner benefitting the Boys and Girls clubs of America. This represents a special opportunity for each of us to make a charitable impact to a wonderful organization. 
    </div>
  </div>
</div>

<div class="row col-md-12">
  <div class="row whiteBackground" id="aboutSponsorshipHead">
    <span class="sponsorshipLabel">SPONSORSHIP</span>
  </div>
  <div id="aboutSponsorship">
  <div id="aboutSponsorshipSubHead">
    There is only one sponsorship level available. Your support of $60,000 plus Silent Auction item(s) donation includes:
  </div>
  <div id="aboutSponsorshipContent">
    <ul>
      <li>Attendance for three people to the event from Monday evening,September 24 through Wednesday morning, September 26</li>
      <li>All planned events during this time, including meals, access to entertainment, hospitality suite, keynote speakers, choice of recreational activity and seats at the Auction benefiting the Boys & Girls Clubs of America</li>
      <li>Hotel rooms for each attendee</li>
      <li>Extensive on-site recognition of your generous support through signage and on-stage mentions</li>
      <li>All air and ground transportation costs to and from the event are the responsibility of the sponsoring organization</li>
    </ul>
  </div>
  <div id="aboutSponsorshipButtonText">
    Click below to reserve your spot. Sponsorship opportunities will sell out.
  </div>
  <div id="aboutSponsorshipButton">
    <a href="javascript:void(0)" routerLink="../sponsorDetailForm"><button class="joinUsButton" id="joinUsLink" href="javascript:void(0)">JOIN US</button></a>
  </div>
</div>
</div>

<!-- <bottomfooter></bottomfooter> -->
