<topHeader></topHeader>
<div id="acknowledgementDiv">
  <div id="acknowledgementHead">
    THANK YOU FOR YOUR SUPPORT.
  </div>
  <div id="acknowledgementSubHead">
    A link to register and choose your activity will be emailed to you in Q2 2018.
  </div>
  <div id="acknowledgementBody">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-3" id="ics">
        <a href="javascript:void(0)" onclick="cal_single.download('2018 Cox Communications Executive Forum')"><img id="calenderLogo" src="app/images/calenderIcon.PNG"></a>
        <div id="icsText">
          Click to Add The Forum 
          <br>
          dates to your Calendar
        </div>
      </div>
      <div class="col-md-2" id="print">
        <print></print>
      </div>
      <div class="col-md-3" id="auction">
        <auction></auction>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>
<bottomfooter></bottomfooter>
