<div style="height:5%"></div>

<div class="container">
  <img id="donationHeader" src="app/images/Auction_Donation_Information.png">
  <div class="textDivForDonationForm">
    <table border="1">
      <tbody>
        <tr>
          <td class="firstCol">
            Name of Donor (Individual/Company/Organization to be displayed on auction signage)
          </td>
          <td class="secondCol">
          </td>
        </tr>
        <tr>
          <td class="firstCol">
            Contact Name
          </td>
          <td class="secondCol">
          </td>
        </tr>
        <tr>
          <td class="firstCol">
            Contact Email
          </td>
          <td class="secondCol">
          </td>
        </tr>
        <tr>
          <td class="firstCol">
            Contact Phone
          </td>
          <td class="secondCol">
          </td>
        </tr>
        <tr>
          <td class="firstCol">
            Item(s) Donated
          </td>
          <td class="secondCol">
          </td>
        </tr>
        <tr class="customRow">
          <td class="firstCol">
            Detailed description of item(s)
          </td>
          <td class="secondCol">
          </td>
        </tr>
        <tr>
          <td class="firstCol">
            Any restrictions?(Expiration date, age requirements, etc.)
          </td>
          <td class="secondCol">
          </td>
        </tr>
        <tr>
          <td class="firstCol">
            Approximate retail value
          </td>
          <td class="secondCol">
          </td>
        </tr>
        <tr>
          <td class="firstCol">
            Photo or promotional image available
          </td>
          <td class="secondCol customCell">
            <div class="square"></div><span>No</span>
            <div class="square"></div><span>Yes</span>
            <span style="margin-left:25px;">If yes, email desiree.tavan@cox.com</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row" id="textDonationForm">
      <span id="deadlineInfo">Donations welcomed immediately.</span><br>
      <span>Final deadline for donation commitment is May 15, 2018.</span>
    </div>
    <div class="row" id="textDonationForm">
      <span>E-mail form and photo/image to desiree.tavan@cox.com or to upload it on our website, please email colleen.levy@cox.com and we will send you the Auction Website information as soon as it becomes available.</span>
    </div>
    <div class="row" id="textDonationForm">
      <span id="deliveryInstructionsHeading">Delivery Instructions</span>
    </div>
    <div class="row" id="textDonationForm">
      <span>1.&nbsp;&nbsp;Please courier or mail your item(s) <span id="info">with a copy of this completed form</span> to the address below:</span>
      <div id="addressToDeliverCourier">
        <p>John Alexander</p>
        <p>Cox Executive Forum 2018 Auction</p>
        <p>20 ICON</p>
        <p>Foothill Ranch, CA 92630</p>
        <p>john.alexander@cox.com</p>
        <p>402.510.2747</p>
      </div>
      <span>2.&nbsp;&nbsp;Your item(s) must be received by August 1, 2018.</span>
      <br>
      <span>3.&nbsp;&nbsp;Email desiree.tavan@cox.com as a courtesy. We will ensure receipt of the item(s) on our side.</span>
    </div>
  </div>
  <img id="footer" src="app/images/AuctionFooter.png">
</div>
