<div class="container">
  <object class="pdfViewer" width="100%" height="800px" data="app/images/2018-DraftDonationLetter.pdf">
</object>
<div class="pdfViewerMobile">PDF can't be viewed in small devices</div>
<!--   <img id="donationHeader" src="../app/images/Auction_Donation_Information.png">
  <div class="textDiv">
    <div class="row" id="Text">
      <span>Thank you for being a Forum Sponsor. The Forum presents a very special opportunity to make a charitable impact through the Silent and Live Auction which benefits the Boys & Girls Clubs of America.</span>
    </div>
    <div class="row" id="Text">
      <span>Cox has a long-standing commitment to the local Boys & Girls Clubs. We are their national technology sponsor and provide local clubs with free or discounted Internet, video services, and promotional resources. In addition, each year we hold our “Cox Connects Day,” a national day of service when our employees donate thousands of hours of service to Boys & Girls Clubs across the country.</span>
    </div>
    <div class="row" id="Text">
      <span>Items that have done well at past auctions include experiences, such as travel packages to events like concerts,sports games or getaways, as well as one-of-a-kind items like signed memorabilia.</span>
    </div>
    <div class="row" id="Text">
      <span>In 2016, we raised a record amount of $448,000. We are confident we can exceed 2016 with generous partners like you.<span id="donationPlea"> We ask that you consider a donation with a minimum retail value of $2,500.</span></span>
    </div>
    <div class="row" id="Text">
      <span>The donation deadline is May 15, 2018; however, if working within this year’s budget has any advantage, we’d be grateful to receive your donation immediately. You may contact me at 225-930-2233 or colleen.levy@cox.com.</span>
    </div>
    <div class="row" id="Text">
      <span>We are proud to showcase your company’s commitment at our 2018 Executive Forum!</span>
    </div>
    <div class="row" id="Text" style="padding-bottom:25px">
      <div class="col-md-4" style="padding-left:0">
        <span>Very truely yours,</span><br>
        <img id="Signature" src="app/images/CL-signature.png"><br>
        <span>Colleen Levy</span>
        <span>2018 Auction Chair</span>
      </div>
    </div>
  </div>
  <img id="footer" src="../app/images/AuctionFooter.png"> -->
</div>
<!-- <auctionDonationForm></auctionDonationForm> -->
