<div id="mainDiv">
  <!-- <div id="secondaryDiv">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div id="logoDiv" class="col-md-2">
        <img id="COXlogo" src="app/images/COXlogo.png">
      </div>
      <div id="textParentDiv" class="col-md-6">
        <div id="textDiv">
          <div id="firstLine">2018 COX COMMUNICATIONS</div>
          <div id="secondLine1">EXECUTIVE FORUM</div>
          <div id="secondLine2">SEPTEMBER 24-26,2018</div>
          <div id="thirdLine">Your exclusive sponsorship invitation to inspiration and networking.</div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div> -->
  <img id="background" class="img-responsive" src="app/images/topHeader.PNG">
</div>
